{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
    %}
<ul id="cupcakesUl">

</ul>
<form action="">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="row">
          {% for field in form if field.widget.input_type !='hidden' %}
          <div class="col-2">{{ field.label }}</div>
          <br>
          <br>
          <div class="col-10">
              {% if field.widget.input_type != 'checkbox' %}
              {{ field(class_="form-control") }} 
              {% else %}
            {{ field }} 
            {% endif %}
            {% for error in field.errors %} {{
            error }} {% endfor %}
          </div>
          {% endfor %}
        </div>
        <li id="c.id">
            <div>
                <p>`${c.flavor} ${c.size} ${c.rating}`</p>
                <button class="btn btn-danger">x</button>
                <img src="" alt="">
            </div>
        </li>
    </div>
</form>
    {% endblock %}