{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<img src="../static/logo.png" alt="logo" class="logoImg" />
<h1>CUPCAKE BOUTIQUE</h1>
<div id="cupcakesUl" class="row container"></div>
<h2>Want to add a cupcake?</h2>
<p>Fill out the form below!</p>
<div class="container">
  <form id="addCupcakeForm" action="" class="needs-validation row" novalidate>
    <div class="col-2">
      <label for="flavor">Flavor:</label>
    </div>
    <div class="col-10">
      <input
        name="flavor"
        id="flavor"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">Flavor cannot be blank.</div>
    </div>
    <div class="col-2">
      <label for="size">Size:</label>
    </div>
    <div class="col-10">
      <select class="form-select" name="size" id="size" required>
        <option value="">Select a size</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
      <div class="invalid-feedback">Select a size.</div>
    </div>
    <div class="col-2">
      <label for="rating">Rating:</label>
    </div>
    <div class="col-10">
      <input
        type="number"
        name="rating"
        id="rating"
        class="form-control"
        step="0.1"
        min="1"
        max="10"
        required
      />
      <div class="invalid-feedback">Rating must be between 1 and 10.</div>
    </div>
    <div class="col-2">
      <label for="image"> Photo URL:</label>
    </div>
    <div class="col-10">
      <input name="image" id="image" type="text" class="form-control" />
    </div>
    <div class="col-12 text-end">
      <button class="btn btn-dark mt-2">Add Cupcake!</button>
    </div>
  </form>
</div>
<br />
{% endblock %}
